<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h3 style="text-align: center;padding: 5px">SynapseIndia Assignment</h3>
      <ul class="list-group">
        <li class="list-group-item">Setup a Angular 5 or Angular 6 Front-end and Nodejs backend with MongoDB</li>
        <li class="list-group-item list-group-item-primary">Setup Login/Signup button in the header</li>
        <li class="list-group-item list-group-item-secondary">Create Signup/Login Page.</li>
        <li class="list-group-item list-group-item-success"> Signup form should ask user to enter first name, last name, email, password, confirm password values. Validation should be handled for each form control with proper message displaying(For example, if user enters a password which does not includes a combination of uppercase,lowercase, and one special character then display proper message to user during validation, similarly email id should be valid one, Password should not be less than 6 characters, password and confirm password should match). User react form approach to build signup form.</li>
        <li class="list-group-item list-group-item-danger">Once user signed up, REST API should be able to handle the data in the back-end and.</li>
        <li class="list-group-item list-group-item-warning">An activation link should be sent to user via email and a proper message should be displayed to user in front-end saying “You have signed up successfully. For verification, an email has been sent to you along with activation link over your mail.Please activate your account by clicking on link</li>
        <li class="list-group-item list-group-item-info">Once user clicks on the link, user should be able to see a pop-up “Your account has been activated” and user should be able to see Login button and should be able to login with registered email. REST API should handle login request. create token in the back-end and send it to front-end as response</li>
        <li class="list-group-item list-group-item-light"> Create another home page which should display list of dummy products to user when user click on it located at the header section. A proper interface and modal should be created form this dummy product list. Create a service angular to get this list of products.</li>
        <li class="list-group-item list-group-item-dark">Each product should have checkbox and when user checks any product or multiple products, and clicks on “Add to My Product” button, A POST api should handle this and should add this products to users’ products.</li>
        <li class="list-group-item list-group-item-secondary"> There should be another link “My Products” in the header and when user clicks on it user should be able to see all his selected product.</li>
        <li class="list-group-item list-group-item-light">My Products should not be visible to not logged in users. and it should be protected for them using Auth Guard.</li>
      </ul>
    </div>
  </div>
</div>
