<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Angular6 Assigment</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <div *ngIf="!isLoggedIn()">
	  	  <a href="/login" class="nav-item nav-link" >Login</a>
	    </div>
      <div *ngIf="isLoggedIn()">
	  	  <a class="nav-item nav-link" href="#" (click)="logout()" >Logout</a>
	    </div>
      <div *ngIf="!isLoggedIn()">
        <a class="nav-item nav-link" href="/register">Ragister</a>
      </div>
      <a class="nav-item nav-link" href="/product">Product</a>
      <a class="nav-item nav-link" href="/wishlist">Wishlist</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/sourabhnigam19" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/sourabhnigam19" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</nav>
