<div class="container">
  <div class="well well-sm">
    <h1 *ngIf="isWishlist">Products</h1>
    <div *ngIf="!isWishlist">
      <div class="alert alert-info">
        <strong>Info!</strong> you don't have products in wish list please navigate product list .
        <br>
        <a href="/product">Product</a>
      </div>
    </div>
  </div>
  <div id="products" class="row">
    <div *ngFor="let product of wishlistProdct;" class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            {{product.product_title}}</h4>
          <p class="group inner list-group-item-text">
            {{product.product_details}}</p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                {{product.price}}</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <button class="btn btn-success" (click)="removeWishlist(product._id )">Remove Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
